<div id="room_main">
    <h2 id="room_h2">Our Rooms</h2>

    <div class="room_grid">
        {{#each lists}}

        <div class="room_img_box">
            <div class="room_img_boxinner">
                <div class="room_img_boxinner">
                    <img class="room_img" src="/uploads/{{this.profilePic}}" alt="Rooms">
                    <div class="room_des1">{{ this.title }}</div>
                    <div class="room_des2">{{ this.description}}</div>
                    <div class="room_des2">{{ this.location}}</div>
                    <div class="room_des3"><span class="room_price">$ {{this.price}}</span>/night</div>
                </div>
            </div>

        </div>
        {{/each}}
    </div>
</div>